/* Logo */
.main-header .logo {
    text-align: center;
}

.main-header .img-logo-lg {
    margin-bottom: 8px;
    margin-right: 10px;
    height: 40px;
}

.main-header .img-logo-mini {
    margin-bottom: 8px;
    height: 37px;
}

.main-header .logo,
.skin-black .main-sidebar,
.skin-black .main-header .navbar.navbar-black,
.sidebar-mini .content-wrapper {
    transition: all .4s !important;
}

.sidebar-mini .main-header .img-logo-mini,
.sidebar-mini.sidebar-collapse .main-header .img-logo-lg {
    display: none;
}

.sidebar-mini.sidebar-collapse .main-header .img-logo-mini,
.sidebar-mini .main-header .img-logo-lg {
    display: inline-block;
}

.sidebar-mini.sidebar-collapse .main-header .logo {
    padding: 0;
}

.skin-black .main-sidebar {
    background-color: #fff;
    padding-top: 100px;
}

.skin-black .sidebar-menu>li>a {
    border-left-width: 0px;
}

.sidebar-menu>li>a>.fa {
    text-align: center;
}

.skin-black .sidebar-menu>li.active>a,
.skin-black .sidebar-menu>li:hover>a {
    background-color: #db2d64;
    color: #000;
}

/* .skin-black .main-header .navbar>.sidebar-toggle {
    margin-left: -43px;
} */

.skin-black .main-header .navbar>.sidebar-toggle {
    color: #fff;
    border-right-color: rgba(255, 255, 255,.4)
}

.skin-black .main-header .navbar>.sidebar-toggle:hover {
    background-color: rgba(255,255,255,.2);
    color: #db2d64;
}

.skin-black .main-header .navbar.navbar-black {
    background-color: #000;
    padding-right: 100px;
}

/* User Nav */
.main-header .navbar .navbar-custom-menu .nav.navbar-nav .user-menu a {
    color: #fff;
    border-left-color: transparent;
    font-weight: bold;
}

.main-header .navbar .navbar-custom-menu .nav.navbar-nav .user-menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Content */
.content-header {
    padding: 30px 100px 20px 50px;
}
.content-header .page-title {
    font-weight: 600;
    margin: 0;
}

.content {
    margin: 0 100px 0 50px;
    padding: 15px;
    background: #fff;
    border-radius: 4px;
}

.content-wrapper {
    min-height: calc(100% - 50px);
    padding-bottom: 50px;
}

.table.table-bordered-bottom {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

/* Buttons */
.btn-icon .ion-icon {
    display: inline-block;
    width: 30px;
    height: 14px;
    overflow: hidden;
}

.ion-icon .ion-ios-arrow-thin-right {
    margin-top: -4px;
    font-size: 25px;
}

/* Login Form */
.wrapper.login-page {
    background: url('../assets/white-leather.png') repeat;
}

.login-page section.login-form {
    position: absolute;
    width: 100%;
    max-width: 380px;
    padding: 10px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-page section.login-form > div {
    padding: 20px;
    border-radius: 4px;
    background-color: #f3f3f3;
}

.login-page section.login-form .login-title {
    margin: 0 0 20px;
    font-size: 24px;
    color: #808080;
}

.login-page section.login-form .form-group {
    margin-bottom: 0;
}

.text-error {
    color: #dd4b39 !important;
}

.spaced-top {
    margin-top: 15px !important;
}

.spaced-bottom {
    margin-bottom: 15px !important;
}